* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #EAEAE1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23FDFEEB' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.form__label {
  padding: 1rem 0;
  font-weight: 500;
}

.form__submit-button {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: darkkhaki;
  border: none;
  color: white;
  cursor: pointer;
}

.contact__form {
  background-color: beige;
  padding: 1rem;
}

.contact__header {
  text-align: center;
}

.contact__header h1 {
  font-weight: 300;
}

.contact__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
}

.contact__form-wrapper {
  width: 80%;
}

.contact__form-header {
  display: grid;
  font-size: xx-large;
  font-weight: 800;
}

.contact__form-header .contact__form-sub-header {
  font-weight: 400;
  font-size: medium;
  color: darkgray;
}

.contact__left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: white;
  padding: 2rem;
}

.contact__left-item {
  display: flex;
  gap: 1rem;
}

.contact__left-item-info {
  display: grid;
  line-height: 1.5rem;
}

.item-text.item-header {
  font-weight: 600;
  color: black;
}

.item-text {
  color: dimgray;
}

.item-img {
  width: 30px;
}

.contact__form-item {
  display: grid;
  border: none;
}

.contact__form-item input {
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
}

/* Input box */
.input-box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Media queries */
@media only screen and (max-width: 480px) {
  body {
    height: auto;
  }
  .contact__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact__form-wrapper {
    width: 100%;
    font-size: small;
  }
  .contact__form-header {
    font-size: x-large;
  }
  .contact__form-header .contact__form-sub-header {
    font-size: medium;
  }
  .contact__left {
    gap: 1rem;
    font-size: small;
  }
}
